<!-- <ion-list can-swipe="true">
  <div ng-repeat="info in newslist">
    <div ng-if="info.cover!='0'" class="card item item-thumbnail-left item-complex">
      <a class="item-content item-text-wrap" href="#/tab/newsInfo/{{info.id}}">
        <img src="http://www.zhongfox.com/{{info.coverpath}}" style=" width: 80px; height: 80px;">
        <h2 calss='title'>{{info.title |limitTo:10}}</h2>
        <p class="desc">{{info.description|limitTo:49}}...</p>
      </a>
    </div>
    <div ng-if="info.cover=='0'" class="card item-text-wrap">
        <a class="item" href="#/tab/newsInfo/{{info.id}}">
        <h2 calss='title'>{{info.title|limitTo:20}}</h2>
        <p class="desc">{{info.description|limitTo:49}}...</p>
        </a>
    </div>
  </div>
</ion-list> -->

news